<!-- <div class="intro" style="transform:translateY(0vh);">
    {{ $cdn_url := .Scratch.Get "cdn_url" }}
    {{ with .Site.Params.avatar}}
    {{ $avatar := .}}
    <div class="avatar">
        <a> <img src="{{ $avatar }}"> </a>
    </div>
    {{ end }}
    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSfcG0KqBV4-jyp_OYwrk-LaH8YcIWY-r-_brobw-3Nvc2J2_A/viewform?embedded=true"
        min-width="400" max-width="500" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div> -->